{{> head}}


  
    {{> navbar}}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Afiliados</h1>
        </div>
    </div>
  <div class="container-fluid table-responsive-xl">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre de la Oficina</th>
                <th scope="col">Representantes</th>
                <th scope="col">Ubicacion</th> 
                <th scope="col">Nro Telefonicos</th>
                <th scope="col">Clasificacion</th>
                <th scope="col">Correo</th>
                <th scope="col">Cuadra cuentas</th>
                <th scope="col">Nros de Tlf Cuadra cuenta</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        </table>

        
     {{> footer}}

    
