{{> head}}


  
    {{> navbar}}

  <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hipodromo Nacionales</h1>
            <p class="lead">Información de los folletos de todos los hipodromos nacionales.</p>
        </div>
    </div>
  <div class="container-fluid">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hipodromos</th>
                <th scope="col">Last</th>
                <th scope="col">Today</th> 
                <th scope="col">Tomorrow</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
                <td>La Rinconada</td>
                <td>Download</td>
                <td>Download</td>
                <td>Download</td>
            </tr>
            <tr>
            <th scope="row">2</th>
               <td>Valencia</td>
                <td>Download</td>
                <td>Download</td>
                <td>Download</td>
            </tr>
            <tr>
           
        </tbody>
        </table>

       
</div>

   

     {{> footer}}

    