  
  {{> head}}


  
    {{> navbar}}

    <div class="jumbotron"  >
        <h1 class="display-4">{{nombre}}!</h1>
        <p class="lead">En DMG encontratas toda la información de los hipodromos nacionales e internacionales.</p>
      
    </div>

<div class="container-fluid table-responsive-xl">
    <!-- Example row of columns -->
   <table class="table table-bordered table-dark alinear-texto table-responsive-xl">
 
  <tbody>
     <tr>
      <td >AFILIADOS</td>
      <td><a class="dropdown-item" href="/hipodromosAmericanoEstandar">RETROSPECTO AMERICANOS(ESTANADAR)</a></td>
      <td>REGLAS DE JUEGO</td>
      <td>CRONOGRAMAS DE PAGO</td>
  </tr>
    <tr>
     
      <td>TERCIOS DEUDORES</td>
      <td>CORREDORES DEUDORES</td>
      <td><a class="dropdown-item" href="/hipodromosAmericano">RETROSPECTO AMERICANOS</a></td>
      <td><a class="dropdown-item" href="/hipodromosNacionales">RETROSPECTO VAL Y LA RINCONADA</a></td>
    </tr>
    <tr>
     
      <td>COMITE DISIPLINARIO</td>
      <td>LISTA DE AFILIADOS MOROSOS CON LAS INSTITUCIONES</td>
      <td>RESULTADOS AMERICANAS</td>
       <td>RESULTADOS VAL Y LA RINCONADA</td>
    </tr>
    <tr>
      
      <td>LISTA DE AFILIADOS SALIENTES</td>
      <td>RECLAMOS</td>
      <td>CALENDARIO DE CARRERAS</td>
      <td>LISTADO DE AFILIADOS MOROSOS CON OTRAS</td>
    </tr>
     <tr>
     
      <td>REDES SOCIALES</td>
      <td>NORMATIVA DMG</td>
      <td>DIRECTIVA</td>
      <td>REPETICION DE CARRERAS AMERICANAS</td>
    </tr>
  </tbody>
</table>

  </div> <!-- /container -->

   

     {{> footer}}

    