  
  {{> head}}


  
    {{> navbar}}

    <div class="jumbotron">
        <h1 class="display-4">{{nombre}}!</h1>
        <p class="lead">En DMG encontratas toda la información de los hipodromos nacionales e internacionales, apuesta con la mejor información.</p>
        
        <hr class="my-4">
        <p>Pronto tendremos mas información en nuestra web.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer mas</a>
    </div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Nacionales</h2>
        <p>Hipismo nacional venezolano donde veremos los principales hipodromos como La Rinconada y Valencia, sus progrmaciones comienzan cada jueves y finalizan el domingo. Aqui encontraras información relacionada con estos importantes hipodromos </p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Americanos</h2>
        <p>La mejor información de los mejores hipodromos de Estados Unidos. Apuesta con la mejor información hipica. Apuestas carreras de caballos USA. En la parte superior encontraras el enlace que lo llevará a la página con los diferentes retrospecto.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Sobre Nosotros</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Ver detalles &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

   

     {{> footer}}

    