footer {
    background-color: #28a745!important;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

.jumbotron {
    background-image: url("http://www.fondox.net/wallpapers/carreras-de-caballos-2042.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: white;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.container {
    margin-bottom: 3rem;
}

.alinear-texto td {
    text-align: center;
    vertical-align: middle;
}

.alinear-texto td:hover {
    background-color: #28a745;
}